footer
  .container.action-box.text-center
    h2.pull-left 
      img(src='/images/flea-logo.png', style='max-width: 30px', ;='') © 2017 FleaCommerce, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
      li
        a(href='/contact') Contact





      