extends layout

block content
    // Slider main container
    #myCarousel.swiper-container.main-slider
      .swiper-wrapper
        .swiper-slide.slider-bg-position(style="background:url('https://images.agoramedia.com/EHBlogImages/lynda-shrager/2015/12/get-Organized-for-Holiday-Shopping-ALT-722x406.jpg')", data-hash='slide1')
          h2 One Stop Shopping Spot for Everybody on your Shopping List
        |     
        .swiper-slide.slider-bg-position(style="background:url('http://www.analystconsult.com/wp-content/uploads/2015/12/eCommerce-is-retail-future.jpg')", data-hash='slide2')
          h2 Avoid the Crowd and Shop From the Comfort of Your Couch
      // Add Pagination
      .swiper-pagination
      // Add Navigation
      .swiper-button-prev
        i.fa.fa-chevron-left
      |   
      .swiper-button-next
        i.fa.fa-chevron-right
    // my insertion of featured products
    .container.container.mt-4.mb-5
      h3.display-4.text-center  Featured Products 
      |     
      .row
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 1
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        |       
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 2
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        |       
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 3
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
    section#benefits.service-sec
      .container
        .row
          .col-md-12
            .heading
              h2
                small
                  img(src='flea-logo.png', style='max-width: 40px', ;='')
                  | flea-Commerce
                | Enjoy the Benefits of flea-Commerce Shopping
          |       
          .col-md-8
            .row
              .col-md-6.text-sm-center.service-block
                i.fa.fa-clock-o(aria-hidden='true')
                |             
                h3 Any Time
                |             
                p
                  | You don&apos;t even have to change out of your pajamas and you can catch great deals on flea-Commerce.
              |           
              |           
              .col-md-6.text-sm-center.service-block
                i.fa.fa-bath(aria-hidden='true')
                |             
                h3 Any Place
                |             
                p
                  | The kitchen. The bathroom. The hotel lobby.  Anywhere that you have access to the internet, flea-Commerce is there.
          |         
          .col-md-4
            img.img-fluid(src='http://cdn.skim.gs/image/upload/v1456338125/msi/woman-online-sample-sale-horiz_ednked.jpg')
        // row
    |   
    section#about.about-sec.parallax-section
      .container
        .row
          .col-md-3
            h2
              small Who We Are
              | About
              br
              | Us
          |         
          .col-md-4
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur odit quisquam, illum est vitae qui fuga debitis laudantium expedita, quam omnis ipsa libero laborum officia necessitatibus quibusdam. Modi, rerum, dolorem.
            |           
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos ut fuga vitae magnam assumenda aperiam nostrum eum labore, deserunt provident dolorem, quis. Porro, commodi excepturi odio incidunt est neque.
          |         
          .col-md-4
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consectetur ex id quasi rerum suscipit deleniti, unde adipisci dicta ducimus vel a quisquam eveniet fugit, velit ipsa saepe sunt ipsum?
            |           
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam magnam ipsam quidem unde cumque aut, porro numquam enim dolores consequatur tempore impedit. Veritatis distinctio, consectetur similique expedita veniam, rerum. Asperiores.
            |           
            p
              a.btn.btn-transparent-white(href='#') Shop Now
