extends layout

block content
  .container.jumbTop
    h3.ph3.text-center  Products
      hr 
      .row.col-lg-12  
        each item in product
          .card.col-lg-4.col-md-4.col-sm-6.col-xs-12.margBot.proCard
            img.img-responsive( src= item.image)(style='height: 200px;')         
            .div
              p.pdes= item.product_name 
                br       
                a.btn.btn-aqua.btn-pro(href=`/product/${item.id}/`)
                  i.fa.fa-bars(aria-hidden='true')
                  span  Details 
                p.pmini Quantity Available: 
                  span= item.qty_on_hand