extends layout

block content
  .container.mt-4.mb-5(style='margin-top: 80px;')
    h3.display-4.text-center  Products    
      each item in product
        .card
          img.card-img-top.img-responsive( src= item.image)        
          .card-block.p-3
          h4.card-title= item.product_name       
          p.card-text= item.product_description  
          a.btn.btn-aqua.mb-2(href=`/product/${item.id}/`)
            i.fa.fa-bars(aria-hidden='true')
          p.card-text Quantity Available:
            span.card-text= item.qty_on_hand
