extends layout

block content
    div.container#signin-main
        .container-fluid
            h2.form-control Create a new user
            form.form-login#signin-form(method="post",action="/test/signin")
                .form-control
                    label(for="email") Email Address
                    input.text#email(type="text",name="email")
                .form-control
                    label(for='password') Password       
                    input#password.form-control(type='password', name="password",placeholder='Password', required='')
                .form-control
                    button.btn.btn-default(type="submit") Submit