extends layout

block content
    .container-fluid
        .jumbotron
            .container-fluid
                h2.form-signin-heading Create a new user
                form.form#signup-form(method="POST", action="/customer/signup")  
                    .form-group
                        label.sr-only(for='customer-name') Your Full name
                        input#customer-name.form-control(type="text", placeholder="Your full name",name="customer_name",required='')
                    .form-group
                        label.sr-only(for='username') Your user name
                        input#username.form-control(type="text", placeholder="Username",name="username",required='')       
                    .form-group
                        label.sr-only(for='inputEmail') Email address
                        input#inputEmail.form-control(type='email', placeholder='Email address', name="email", required='')       
                    .form-group
                        label.sr-only(for='inputPassword') Choose a Password       
                        input#inputPassword.form-control(type='password',name="password", placeholder='Password', required='')
                    .form-group
                        label.sr-only(for='address1') Address
                        input#username.form-control(type="text", placeholder="Address 1",name="address1" required='')
                    .form-group
                        label.sr-only(for='address2') Address 2 (optional)
                        input#username.form-control(type="text", placeholder="Address 2",name="address2" )
                    .form-group
                        label.sr-only(for='city') City
                        input#username.form-control(type="text", placeholder="City",name="city" required='')   
                    .form-group
                        label.sr-only(for='state') State
                        input#username.form-control(type="text", placeholder="State",name="state" required='')   
                    .form-group
                        label.sr-only(for='zip') Zip Code
                        input#username.form-control(type="text", placeholder="Zip",name="zip" required='')    
                    button.btn.btn-lg.btn-aqua(type='submit') Register