<div class="container">
  <div class="jumbotron" style="margin-top: 100px; background-color: #fff; border: 1px solid #2C7873;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <form id="add-product-form">
        	
        	<h1 class="text-center">Add A Product</h1>
 			
 			<div class="form-group">
    		  
    		  <label for="product_name">Product Name</label>
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Enter the Product Name as You Want Displayed">
  			
  			</div>
  			<div class="form-group">
    
    		  <label for="photo_URL">Photo URL</label>
       		  <input type="photo_URL" class="form-control" id="photo_URL" placeholder="http://image.png">
  
  			</div>
  			<div class="form-group">
    		  
    		  <label for="sold_by">Seller</label>
    		  <input type="sold_by" class="form-control" id="sold_by" placeholder="seller name">
  			
  			</div>
  			<div class="form-group">
    		
    		  <label for="price">Price</label>
    		  <input type="price" class="form-control" id="product_price" placeholder="$00.00">
  
  			</div>
  			<div class="form-group">
    
    		  <label for="product_description">Product Details</label>
    		  <textarea class="form-control" id="product_description" rows="3"></textarea>
  			
  			</div>
  			<div class="form-group">
    		  
    		  <label for="product_name">Product Informtation Points</label>
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 1" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 2" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 3" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 4" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 5" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 6" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 7" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 8" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 9" style="margin-bottom: 10px;">
    		  <input type="product_name" class="form-control" id="product_name" placeholder="Informtation Point 10">
  			
  			</div>
  
  			<button type="submit" class="btn btn-aqua btn-block">Submit</button>
	
		  </form>

        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- jumbotron -->
</div><!-- container -->

