<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Another Landing</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/styles.css">
  <script src="https://use.fontawesome.com/2c451e67ab.js"></script>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
    <div class="container">
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <a class="navbar-brand mx-auto" href="#"><img src="flea-logo.png" style="max-width: 40px";><span>flea</span>-Commerce</a>
      
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#myCarousel">Home </a> </li>
          <li class="nav-item active"> <a class="nav-link" href="#">Shop <span class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Shopping Cart</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
        </ul>
      
      </div>
    
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron" style="margin-top: 100px; background-color: #fff; border: 1px solid #2C7873;">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 col-xs-5 item-photo">
            <img src="https://dummyimage.com/300 x 500/c7c7c7/ffffff" />
          </div>
                
          <div class="col-lg-7 col-xs-7" style="border:0px solid gray">
      
            <h3>Samsung Galaxy S4 I337 16GB 4G LTE Unlocked GSM Android Cell Phone</h3>    
            <h5>Sold by <a href="#" style="color:#6FB98F">Samsung</a></h5>
        
            <h6 class="title-price"><small>Price</small></h6>
            <h3 style="margin-top:0px;">$99.99</h3> 
                    
              <div class="section" style="padding-bottom:20px;">
                
                <h6 class="title-attr"><small>Quantity</small></h6>                    
                  
                  <div>
                    
                      <div class="btn-minus"><i class="fa fa-minus" aria-hidden="true"></i></div>
                      <input value="1" />
                      <div class="btn-plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    
                  </div>
                  
              </div>                
        
              <div class="section">
                <button class="btn btn-aqua"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button>
                <!--h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6-->
              </div>                                        
            
          </div>                              
          
          <!--div class="col-lg-1"></div-->
          <div class="col-lg-12">
            <h6>Product Details</h6>
            <div style="width:100%;border-top:1px solid #6FB98F">
              <p style="padding:15px;">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, optio ipsa non impedit repellat odit voluptate, tenetur, illum ab aspernatur eos cumque. Molestias vitae placeat, itaque nisi similique voluptatibus odit? 
        
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae sapiente, quia consequuntur. Eveniet nulla asperiores mollitia dolor, ullam, deserunt ipsam similique ut neque cupiditate odit esse, commodi labore illo quidem.
              </p>
                <small>
                  <ul>
                    <li>Lorem ipsum dolor sit amet atque eveniet quae!</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Nisi accusantium vel</li>
                    <li>U voluptatibus placeat est suscipit maxime</li>
                    <li>Soluta dolorem temporibus doloribus illo quisquam</li>
                    <li>Atque eveniet quae</li>
                    <li>Magnam harum eligendi distinctio</li>
                  </ul>  
                </small>
              </div>
            </div>   
            <!--div class="col-lg-1"></div--> 
          </div>

      </div><!--jumbotron-->
    </div><!--container-->
  </div>

  <!--my insertion of featured products-->
  <div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Similar Products </h3>
    <div class="row">
      
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 1</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card --> 
      </div><!-- col-md-3 -->
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 2</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 3</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 4</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nihil cum consequatur enim non itaque nemo ex, tempora beatae modi architecto iusto. </p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
    </div>
  </div>

  <section class="about-sec parallax-section" id="about">
    <div class="container">
      <div class="row">
          
        <div class="col-md-3">
          <h2 style="margin-top: 0;"><img src="flea-logo.png" style="max-width: 30px";>Our Story</h2>
        </div>
      
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur odit quisquam, illum est vitae qui fuga debitis laudantium expedita, quam omnis ipsa libero laborum officia necessitatibus quibusdam. Modi, rerum, dolorem.</p>
        </div>
      
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consectetur ex id quasi rerum suscipit deleniti, unde adipisci dicta ducimus vel a quisquam eveniet fugit, velit ipsa saepe sunt ipsum?</p>
          <p><a href="#" class="btn btn-transparent-white">Shop Now</a></p>
        </div>
    
      </div>
    </div>
  </section>

  <section class="action-sec">
    <div class="container">
      <div class="action-box text-center"><h2><img src="flea-logo.png" style="max-width: 30px";> flea-Commerce</div>     
    </div>
  </section>
      
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="/public/js/app2.js"></script>

</body>
</html>