<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Another Landing</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/styles.css">
  <script src="https://use.fontawesome.com/2c451e67ab.js"></script>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto" href="#"><img src="flea-logo.png" style="max-width: 40px";><span>flea</span>-Commerce</a>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#myCarousel">Home</a> </li>
          <li class="nav-item active"> <a class="nav-link" href="#">Shop<span class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Shopping Cart</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--my insertion of featured products-->
  <div class="container container mt-4 mb-5" style="margin-top: 80px;">
    <h3 class="display-4 text-center"> Products </h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 1</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 2</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 3</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
    </div>
  </div>
  <div class="container container mt-4 mb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 4</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 5</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 6</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
    </div>
  </div>
  <div class="container container mt-4 mb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 7</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 8</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
          <div class="card-block p-3">
            <h4 class="card-title">Product 9</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.</p>
            <a href="#" class="btn btn-aqua mb-2"><i class="fa fa-bars" aria-hidden="true"></i> Product Details</a>
          </div><!-- card block -->
        </div><!-- card -->
      </div><!-- col-md-3 -->
    </div>
    
    <div class="text-center" style="margin-top: 25px;">
      <div class="btn-group" role="group" aria-label="page-turner">
        <button type="button" class="btn btn-dark-blue" style="padding: 10px 20px; border: 1px solid #fff;">Back</button>
        <button type="button" class="btn btn-dark-blue" style="padding: 10px 20px; border: 1px solid #fff;">Next</button>
      </div>
    </div>

</div>
    
  <section class="about-sec parallax-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 style="margin-top: 0;"><img src="flea-logo.png" style="max-width: 30px";>Our Story</h2>
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur odit quisquam, illum est vitae qui fuga debitis laudantium expedita, quam omnis ipsa libero laborum officia necessitatibus quibusdam. Modi, rerum, dolorem.</p>
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consectetur ex id quasi rerum suscipit deleniti, unde adipisci dicta ducimus vel a quisquam eveniet fugit, velit ipsa saepe sunt ipsum?</p>
          <p><a href="#" class="btn btn-transparent-white">Shop Now</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="action-sec">
    <div class="container">
        <div class="action-box text-center"><h2><img src="flea-logo.png" style="max-width: 30px";>flea-Commerce</div>
    </div>
  </section>
      

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="/public/js/app2.js"></script>

</body>
</html>