extends layout

block content
    // my insertion of featured products
    .container.container.mt-4.mb-5(style='margin-top: 80px;')
      h3.display-4.text-center  Products    
      .row
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')        
            .card-block.p-3
              h4.card-title Product 1           
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.       
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 2
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 3
           
              p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.           
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true') Product Details
    .container.container.mt-4.mb-5
      .row
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 4
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 5
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 6
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
    .container.container.mt-4.mb-5
      .row
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 7
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos aliquam sit molestias, eligendi, numquam officia aspernatur iure magni excepturi. Tempore, impedit error, eius delectus quae qui ullam aut quam.
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 8
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam itaque suscipit voluptates impedit consequuntur minus cupiditate voluptatibus qui amet excepturi, iure nihil neque sit rem perferendis, incidunt accusantium facere!
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
        .col-md-4
          .card
            img.card-img-top(src='https://dummyimage.com/350x250/c7c7c7/000.png', alt='Card image cap')
            |           
            .card-block.p-3
              h4.card-title Product 9
              |             
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil corporis sint quisquam, sit nesciunt unde ab nemo ullam, rem vitae eius minima voluptatem voluptatum nulla similique atque facilis fugit! Ipsum oof.
              |             
              a.btn.btn-aqua.mb-2(href='#')
                i.fa.fa-bars(aria-hidden='true')
                |  Product Details
      .text-center(style='margin-top: 25px;')
        .btn-group(role='group', aria-label='page-turner')
          button.btn.btn-dark-blue(type='button', style='padding: 10px 20px; border: 1px solid #fff;') Back
          |         
          button.btn.btn-dark-blue(type='button', style='padding: 10px 20px; border: 1px solid #fff;') Next
    |     
    |   
    section#about.about-sec.parallax-section
      .container
        .row
          .col-md-3
            h2(style='margin-top: 0;')
              img(src='flea-logo.png', style='max-width: 30px', ;='')
              | Our Story
          |         
          .col-md-4
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur odit quisquam, illum est vitae qui fuga debitis laudantium expedita, quam omnis ipsa libero laborum officia necessitatibus quibusdam. Modi, rerum, dolorem.
          |         
          .col-md-4
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consectetur ex id quasi rerum suscipit deleniti, unde adipisci dicta ducimus vel a quisquam eveniet fugit, velit ipsa saepe sunt ipsum?
            |           
            p
              a.btn.btn-transparent-white(href='#') Shop Now